In [1]:
from IPython.display import FileLink, FileLinks
from dotenv import load_dotenv
load_dotenv()

data_factory_path = os.getenv("DATA_FACTORY_PATH")
in_progress_folder = data_factory_path+'/in_progress/'
worker_script = data_factory_path+'/worker_script.py'
datasets_folder = data_factory_path+'/processed/datasets/'

%run -i utils.py
print(data_factory_path)

/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts

In [2]:
# generate_programs(500)

100%|██████████| 500/500 [03:46<00:00,  2.21it/s]

Generated 500 program across workers: worker_00

In [2]:
kill_workers(worker_ids=[0,1,2,3,4,5,6,7,8,9])

  0%|          | 0/9 [00:00<?, ?it/s]

Abrupt exit detected on worker  0
Abrupt exit detected on worker  1
Abrupt exit detected on worker  2
Abrupt exit detected on worker  3
Abrupt exit detected on worker  4
Abrupt exit detected on worker  5
Abrupt exit detected on worker  6
Abrupt exit detected on worker  7
Abrupt exit detected on worker  8
Worker 0 is already inactive
Worker 1 is already inactive
Worker 2 is already inactive
Worker 3 is already inactive
Worker 4 is already inactive
Worker 5 is already inactive
Worker 6 is already inactive
Worker 7 is already inactive
Worker 8 is already inactive
Worker 9 is already inactive

In [3]:
# redistribute_functions(dest_worker_ids='all')
scale_workers(1)
# launch_missing_workers()
# restart_active_workers(worker_ids='all')

8
Process 3519252 waiting for worker_01 to finish8
Process 3519258 waiting for worker_07 to finish8
Process 3519255 waiting for worker_04 to finish8
Process 3519256 waiting for worker_05 to finish8
Process 3519253 waiting for worker_02 to finish


8
Process 3519259 waiting for worker_08 to finish8
Process 3519257 waiting for worker_06 to finish8
Process 3519254 waiting for worker_03 to finish




8

Process 3519259 of worker_08 exited with exception [Errno 2] No such file or directory: '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_08/output/skipped/function000093' -> '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/processed/skipped/function000093'
Process 3519258 of worker_07 exited with exception [Errno 2] No such file or directory: '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_07/output/skipped/function000434' -> '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/processed/skipped/function000434'
Process 3519257 of worker_06 exited with exception [Errno 2] No such file or directory: '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_06/output/skipped/function000384' -> '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/processed/skipped/function000384'
Process 3519256 of worker_05 exited with exception [Errno 2] No such file or directory: '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_05/output/skipped/function000334' -> '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/processed/skipped/function000334'
Process 3519255 of worker_04 exited with exception [Errno 2] No such file or directory: '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_04/output/skipped/function000251' -> '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/processed/skipped/function000251'
Process 3519252 of worker_01 exited with exception [Errno 2] No such file or directory: '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_01/output/skipped/function000063' -> '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/processed/skipped/function000063'
Process 3519253 of worker_02 exited with exception [Errno 2] No such file or directory: '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_02/output/skipped/function000015' -> '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/processed/skipped/function000015'
Process 3519254 of worker_03 exited with exception [Errno 2] No such file or directory: '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_03/output/skipped/function000205' -> '/scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/processed/skipped/function000205'

Submitted batch job 1172684

Worker job 1172684 submitted on folder /scratch/sk10691/workspace/new_tiramisu_vs_old/dataset/dataset-manipulation/dataset_creation_scripts/in_progress/worker_00

In [2]:
get_workers_status(count_dps=False)

  0%|          | 0/9 [00:00<?, ?it/s]

,worker_id,is_running,job_id,worker_name,current_function,time_since_update,functions_left,functions_done,functions_skipped,dps_ready,stop_signal
0,0,True,1172684,dn300,function000005,2:28:03.308522,42,1,2,?,False
1,1,True,1172675,dn102,function000060,2:29:14.569517,42,1,1,?,False
2,2,True,1172676,dn357,function000022,0:20:03.045068,35,5,5,?,False
3,3,True,1172677,dn208,function000024,2:24:14.950215,41,15,1,?,False
4,4,True,1172678,dn190,function000034,2:29:04.148399,42,2,0,?,False
5,5,True,1172679,dn197,function000106,2:28:42.608050,41,9,0,?,False
6,6,True,1172680,dn252,function000095,1:47:43.848721,38,12,2,?,False
7,7,True,1172681,dn032,function000214,0:31:09.435711,34,8,3,?,False
8,8,True,1172682,dn159,function000251,1:42:05.621474,34,10,5,?,False

In [24]:
redistribute_functions(dest_worker_ids='all')

In [ ]:
if input('Heads-up! irreversible operation. Continue?') == 'yes':
    clear_skipped_funcs(mode='delete', worker_ids='all')
    clear_done_funcs(mode='delete', worker_ids='all')